{% extends 'SistemaAudios/plantilla.html' %}

{% block title %}Mis recursos{% endblock %}

{% block content %}
<h2 class="text-center pt-3">Mis recursos</h2>


{% if recurso_lists %}
<div class="d-flex justify-content-center mt-4">
    <div class="list-group align-self-center flex-grow-1 pe-5">
        <div class="row">
            {% for recurso in recurso_lists %}
            <div class="col-lg-6 col-sm-12">        
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ recurso.nombre }} - {{ recurso.usuario.first_name }} {{ recurso.usuario.last_name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ recurso.categoria.nombre  }}</h6>
                        <p class="card-text">{{ recurso.descripcion }}</p>
                        <audio src="../../../media/{{ recurso.archivo }}" controls loop></audio>
                        <br>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a class="" title="Editar recurso" href="{% url 'actualizar' recurso.pk %}" class="card-link"><i class="material-icons">edit</i></a>
                            <a class="" title="Eliminar recurso" href="{% url 'eliminar' recurso.pk%}" class="card-link"><i class="material-icons">delete</i></a>
                            <a class="" title="Descargar recurso" href="../../../media/{{ recurso.archivo }}" download="{{ recurso.nombre }}" class="card-link"><i class="material-icons">download</i></a>
                            <p class="bar"> |</p> 
                            <div class="opt" id="Fav_{{ recurso.pk }}"></div>
                            <div class="opt" id="Sl_{{ recurso.pk }}"></div>
                        </div>           
                    </div>
                </div>
                <br>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% else %}
<p class="display-6""> No tiene recursos a&uacute;n.</p>
{% endif %}
<div class="stiky offset-md-11 offset-sm-10 nuevo">
    <a href="{% url 'crear' %}" title="Agregar nuevo recurso" class="btn btn-primary btn-circle mx-2"><i class="material-icons">add</i></a>
</div>
<script type="text/javascript">

    $(document).ready(function () {

    });

    function cargar(){
        {% if recurso_lists %}
            {% for recurso in recurso_lists %}
                fav({{ recurso.pk }});
                sl({{ recurso.pk }});
            {% endfor %}
        {% else %}

        {% endif %}
        return false;
    }

    function fav(id_r) {
        $("#Fav_"+id_r).html("");
        var request = $.ajax({
            type: "GET",
            url: "{% url 'fav' %}",  
            data: {
                "id": id_r,
            }
        });
        request.done(function (response) {
            $("#Fav_"+id_r).html(response.boton);
        });
        return false;
    }

    function sl(id_r) {
        $("#Sl_"+id_r).html("");
        var request = $.ajax({
            type: "GET",
            url: "{% url 'sl' %}", 
            data: {
                "id": id_r,
            }
        });
        request.done(function (response) {
            $("#Sl_"+id_r).html(response.boton);
        });
        return false;
    }

    function addFav(id_r) {
        $("#Fav_"+id_r).html("");
        var request = $.ajax({
            type: "GET",
            url: "{% url 'add_fav' %}",  
            data: {
                "id": id_r,
            }
        });
        request.done(function (response) {
            $("#Fav_"+id_r).html(response.boton);
        });
        return false;
    }

    function addSl(id_r) {
        $("#Sl_"+id_r).html("");
        var request = $.ajax({
            type: "GET",
            url: "{% url 'add_sl' %}", 
            data: {
                "id": id_r,
            },
        });
        request.done(function (response) {
            $("#Sl_"+id_r).html(response.boton);
        });
        return false;
    }

    function delFav(id_r) {
        $("#Fav_"+id_r).html("");
        var request = $.ajax({
            type: "GET",
            url: "{% url 'del_fav' %}", 
            data: {
                "id": id_r,
            },
        });
        request.done(function (response) {
            $("#Fav_"+id_r).html(response.boton);
        });
        return false;
    }

    function delSl(id_r) {
        $("#Sl_"+id_r).html("");
        var request = $.ajax({
            type: "GET",
            url: "{% url 'del_sl' %}",  
            data: {
                "id": id_r,
            },
        });
        request.done(function (response) {
            $("#Sl_"+id_r).html(response.boton);
        });
        return false;
    }

</script>
{% endblock %}
