{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'SistemaAudios/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'SistemaAudios/css/mystylesheet.css' %}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.5.1.min.js"></script> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
</head>
<body onload="cargar()">
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary bg-gradient">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="{% static 'SistemaAudios/img/logo.jpg' %}" alt="" width="30" height="30" class="d-inline-block align-top">
        BEAT CLOUD
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="container-fluid">
        
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if request.user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link active" href="/">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'busqueda' %}">Audios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'mis_recursos' %}">Mis audios</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Listas
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="{% url 'ver_lista' 1 %}">Favoritos</a></li>
                  <li><a class="dropdown-item" href="{% url 'ver_lista' 2 %}">Escuchar mas tarde</a></li>
                </ul>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'login' %}">Iniciar sesión</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'register' %}">Registrarse</a>
              </li>
            {% endif %}
          </ul>
          
          <div class="">
            {% if request.user.is_authenticated %} 
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ request.user.username }}
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesion</a></li>
                  </ul>
                </li>
              </ul>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    </nav>

    {% csrf_token %}

    <div class="container container_content">
      {% block content%}
      {% endblock %}
    </div>

</body>

<footer id="footer">
  <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Tecnicas de programacion para internet 2020</strong>. <br> Todos los Derechos Reservados
      </div>
      
    </div>
</footer>

<script src="{% static 'SistemaAudios/js/bootstrap.bundle.min.js' %}"></script>

{% if messages %}
    {% for m in messages %}
        <script>
            Swal.fire({
                icon: '{{m.tags}}',
                text: '{{m}}'
            })
        </script>
    {% endfor %}
  {% endif%}

</html>
